*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    color: #FFFFFF ;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: ;
  height: 64px;
  border-radius: 5px;
  background: #FD6E0A; 
}
.header{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    min-height: 800px;
    }
.header-section{
    text-align: right;
    padding: 216px 230px 364px 845px;
}
.head-title{
    font-weight: 800;
    font-size: 60px;
}
.header-description{
    padding: 30px 0px;
    color: #444343;
}

